.about {
  width: 100%;
  margin-inline: auto;
  margin-top: 96px;
  /* sticky porque precisava ser diferente de static para funcionar o z-index */
  position: sticky;
  z-index: 5;

  display: grid;
  grid-template-areas: 
  "book book"
  "text text"
  "ouija crystal"
  ;

  & div {
    /* transition: scale 400ms, rotate 400ms; */

    & img {
      scale: 0;
      transition: scale 400ms linear;
      /* animation: growDown 400ms linear forwards; */
    }
  }

  & div:nth-child(1) {
    grid-area: book;
    margin-inline: auto;
    width: 5.5rem;
    aspect-ratio: 1/1;

    & img {
      rotate: 20.76deg;
    }
  }

  & h2 {
    font: var(--subtitle);
    text-align: center;
    grid-column: 1/4;
    grid-area: text;
    color: #E2E7E980;

    & span, & span strong {
      transition: color 300ms linear;
    }
    
    /* & strong {
      transition: color 400ms linear;
    } */
  }
  
  & div:nth-child(3) {
    grid-area: ouija;
    width: 5rem;
    aspect-ratio: 1/1;

    & img {
      rotate: 99.47deg;  
    }
  }

  & div:nth-child(4) {
    grid-area: crystal;
    margin-left: auto;
    width: 4.5rem;
    aspect-ratio: 1/1;

    & img {
      rotate: -14.48deg;
    }
  } 

  &:hover {
    & div img {
      scale: 1;
    }

    & div:nth-child(1):hover,
    & div:nth-child(3):hover,
    & div:nth-child(4):hover {
      scale: 1.1;
      rotate: 10deg;
    }

    & div:nth-child(1) img {
      animation: growUp 200ms 300ms;
      transition: scale 300ms linear;
    }

    & div:nth-child(3) img {
      animation: growUp 200ms 800ms;
      transition: scale 300ms 500ms linear;
    }

    & div:nth-child(4) img {
      animation: growUp 200ms 1.3s;
      transition: scale 300ms 1s linear;
    }

    & h2 {
      color: var(--text-body);

      & strong {
        color: var(--blue-light);
      }

      & span:nth-child(1) {
        transition: color 300ms linear;
        & strong {
          transition: color 300ms linear;
        }
      }
      & span:nth-child(2) {
        transition: color 300ms 500ms linear;
        & strong {
          transition: color 300ms 500ms linear;
        }
      }
      & span:nth-child(3) {
        transition: color 300ms 1s linear;
        & strong {
          transition: color 300ms 1s linear;
        }
      }
    }
  }

}

@media (width >= 90em) {
  .about {
    max-width: 75rem;
  }
}

@keyframes growUp {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.05;
  }
  100% {
    scale: 1;
  }
}
