nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  opacity: 1;

  margin-bottom: 3rem;

  & img:nth-child(1) {
    height: 2.75rem;
    width: auto;
  }
  
  .btn {
    padding: .75rem 1.25rem;
    background-color: var(--pink-dark);

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: .5rem;
    overflow: hidden;

    position: relative;

    & strong {
      z-index: 2;
      font-size: var(--button);
    }

    &:hover::before {
      scale: 3;
    }

    &::before {
      content: "";
        
      width: 3rem;
      height: 3rem;
      border-radius: 50%;

      background-color: var(--pink-base);

      position: absolute;
      /* inset: 0; */
      scale: 0;
      z-index: 1;

      transition: scale 400ms linear;
    }
  }
}

.main-header {
  display: grid;
  gap: 1rem;
  text-align: center;
  
  & h1 {
    display: block;
    margin-inline: auto;
    width: 20.93rem;
    font-size: var(--title-lg);
    color: var(--text-title);
    opacity: 0;

    animation: appear 2.5s forwards;
  }

  & span {
    font: var(--body-lg);
    margin-inline: auto;
    opacity: 0;
    display: block;
    animation: appear 1.5s 800ms forwards;
  }
}

@media (width >= 90em) {
  nav {
    margin-bottom: 10.25rem;

    & img:nth-child(2) {
      height: 2.56rem;
      width: auto;
    }
  }

  .main-header {
    margin: .5rem;
    gap: 2rem;

    /* margin-top: 10.25rem; */
    & h1 {
      width: 41rem;
    }
    & span {
      width: 35.5rem;
    }
  }
}
