.monthly-kit {
    padding-top: 6.5rem;
    position: relative;
    z-index: 1;

    & header {
        display: flex;
        align-items: center;
        justify-content: center;
        
        & img {
            width: 4rem;
            aspect-ratio: 1/1;
            object-fit: cover;
        }
        
        & h2 {
            color: var(--text-title);
            font-size: var(--title-sm);
            display: block;
            margin-inline: -0.5rem;
            text-align: center;
        }

    }

    & > span {
        display: block;
        text-align: center;
        color: var(--text-body);
        font: var(--body-md);
        margin-top: -.75rem;
        padding-bottom: 4rem;
    }
}

.book {
    width: 23.43rem;
    height: 19.93rem;
    margin-top: 3.125rem;
    margin-inline: auto;
    
    & .book-box {
        position: relative;
        width: 9.81rem;
        height: 12.93rem;
        margin-inline: auto;
        
        & > img.book-img {
            width: 100%;
            height: auto;
        }

        & .book-element,
        & .book-element-pin,
        & .book-element-banner, 
        & .arrow-span-2 {
            position: absolute;  

            & span {
                font-size: 0.625rem;
                font-weight: 400;
                display: block;
                width: max-content;
            }
        }

        & .book-element-banner img {
            transition: transform 400ms, rotate 400ms;
        }

        & .book-element {
            top: 0.5rem;
            left: 1.2rem;
            opacity: 0;
            transition: transform 400ms, opacity 400ms;
            
            & span {
                transition: transform 400ms;
            }

            & img {
                transition: transform 400ms;
                width: 3.67rem;
            } 
        }

        & .book-element-pin {
            bottom: .875rem;
            left: 1rem;

            opacity: 0;
            scale: 0;
            transition: opacity 400ms, scale 400ms;

            & span {
                transition: transform 400ms;
            }
            
            & img#arrow-1 {
                width: 2.2rem;
                transition: transform 400ms;
            }
            & img#pin {
                width: 4.68rem;
                transition: transform 400ms, rotate 400ms;
            }
        }

        & .book-element,
        & .book-element-pin,
        & .book-element-banner:nth-child(7),
        & .arrow-span-2 {
            z-index: -1;
        }
        & .book-element-banner:nth-child(8) {
            z-index: -2;
        }

        & .book-element-banner:nth-child(7),
        & .book-element-banner:nth-child(8) {
            width: 4.6rem;
            left: 5.4rem;
            top: .2rem;

            & img {
                height: 11.25rem;
            }
        }

        & .arrow-span-2 {
            bottom: 0.8rem;
            right: .5rem;

            opacity: 0;
            transition: transform 400ms, opacity 400ms;
            
            & img {
                width: 3.06rem;
                margin-left: 3.5rem;
                margin-bottom: .368rem;
            }
        }
    }

    &::before {
        content: "";
        position: absolute;
        width: 930px;
        height: 930px;
        left: calc(50% - 930px/2);
        top: calc(50% - 930px/2 + 38px);
        z-index: -4;
        
        background: #3F0F41;
        opacity: 0.5;
        filter: blur(300px);
    }

}

.book:hover {
    & .book-element {
        opacity: 1;
        animation: appear 400ms 390ms forwards;

        & span {
            transform: translate(-7rem, -2.3rem);
            opacity: 1;
            scale: 1;
        }
        
        & img {
            opacity: 1;
            scale: 1;
            transform: translate(-4.2rem, -1rem);
        }
    }

    & .book-element-pin {
        scale: 1;
        opacity: 1;
        & span {
            transform: translate(-6.7rem, -4.89rem);
        }

        & img#arrow-1 {
            transform: translate(-5.1rem, -1.6rem);
        }
        
        & img#pin {
            rotate: -7.55deg;
            transform: translate(-4.4rem, 2.2rem);
        }
    }
    
    & .book-element-banner {
        animation: littleJump 400ms 390ms;
    }

    & .book-element-banner:nth-child(7) img {
        rotate: 12deg;
        transform: translate(2.4rem, -2.68rem);
    }

    & .book-element-banner:nth-child(8) img {
        rotate: 22deg;
        transform: translate(5.3rem, -1.3rem);
    }

    & .arrow-span-2 {
        animation: appear 400ms 390ms forwards;
        opacity: 1;
        transform: translate(5rem, 3.7rem);
    }
}

@media (width >= 90em) {
    .monthly-kit {
        padding-top: 14.68rem;

        & header img {
            width: 5rem;
        }

        & > span {
            margin-top: -1rem;
            padding-bottom: 5.5rem;
        }
    }

    .book {
        width: 90rem;
        height: 57.5rem;
        margin-top: 8.375rem;

        & .book-box {
            width: 29.18rem;
            height: 38.56rem;

            & .book-element ,
            & .book-element-pin,
            & .book-element-banner, 
            & .arrow-span-2 {
                & span {
                    font-size: 1rem;
                }
            }

            & .book-element {
                top: 1.5rem;
                left: 3rem;
                    
                & img {
                    width: 10.93rem;
                }
            }

            & .book-element-pin {
                bottom: 2.5rem;
                left: 3rem;

                & img#arrow-1 {
                    width: 6.56rem;
                }

                & img#pin {
                    width: 13.875rem;
                }
            }

            & .book-element-banner {
                width: 9.81rem;
                height: 12.93rem;
            }

            & .book-element-banner:nth-child(7),
            & .book-element-banner:nth-child(8) {
                width: 13.81rem;
                left: 15.5rem;
                top: .3rem;
                
                & img {
                    height: 33.5rem;
                }
            }

            & .arrow-span-2 {
                bottom: 2.5rem;
                right: 1.25rem;

                & img {
                    width: 9.06rem;
                    margin-left: 5.2rem;
                    margin-bottom: 1.09rem;
                }
            }
        }

        &:hover {
            & .book-element {
                & span {
                    transform: translate(-16rem, -5.46rem);
                }
                & img {
                    transform: translate(-11.5rem, -3rem);
                }
            }

            & .book-element-pin {
                & span {
                    transform: translate(-16rem, -13.46rem);
                }

                & img#arrow-1 {
                    transform: translate(-15rem, -4.6rem);
                }

                & img#pin {
                    rotate: -8deg;
                    transform: translate(-13rem, 6.5rem);
                }
            }

            & .book-element-banner:nth-child(7) img {
                transform: translate(7.3rem, -9.8rem);
            }

            & .book-element-banner:nth-child(8) img {
                transform: translate(15.6rem, -4.8rem);
            }

            & .arrow-span-2 {
                transform: translate(13.5rem, 8.8rem);
            }
        }

    }
}

@keyframes littleJump {
    /* A animação move o container que está envolvendo os elementos que estão sendo movidos pelo transition */
    50% {
        transform: translate(2px, -1px);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes appear {
    /* Essa animação movimenta o elemento que está sendo movido */
    50% {
        scale: 1.01;
    }
    100% {
        scale: 1;
    }
}
